{% extends 'base.html' %}

{% block content %}

<div class="max-w-4xl mx-auto mt-24">
  <form method="POST" enctype="multipart/form-data" class="mb-4">
    {% csrf_token %}
    <div class="flex items-center gap-4">
      <img src="{{ profile.avatar.url }}" class="w-20 h-20 rounded-full object-cover border shadow">
      <input type="file" name="avatar" accept="image/*"
            class="file:py-2 file:px-4 file:rounded-full file:bg-blue-100 file:text-blue-800 hover:file:bg-blue-200 text-sm" />
      <button type="submit" class="bg-blue-600 text-white px-3 py-2 rounded hover:bg-blue-700">Update</button>
    </div>
  </form>
  <h2 class="text-2xl font-bold mb-4">👤 Welcome, {{ user.username }}</h2>
  <p>Email: {{ user.email }}</p>
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
  <a href="{% url 'download_my_posts_pdf' %}" target="_blank"
    class="inline-block mb-6 bg-green-700 text-white px-4 py-2 rounded hover:bg-green-600 transition mt-4">
    Download All Post as PDF
  </a>

  <hr class="my-4 ">

  <h3 class="text-xl font-semibold mb-4">📝 Your Blog Posts</h3>
  <div class="grid md:grid-cols-2 gap-4">
    {% for post in posts %}
      <div class="bg-white p-4 shadow rounded-xl">
        <h4 class="text-lg font-bold">{{ post.title }}</h4>
        <p class="text-gray-600 text-sm mb-2">{{ post.summary|truncatechars:100 }}</p>
        <a href="{% url 'blog_detail' post.id %}" class="text-blue-600 hover:underline text-sm">Read More →</a>
      </div>
    {% empty %}
      <p>You haven't posted anything yet.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}